<a href="https://colab.research.google.com/github/aryanrana3434-ai/python-class-aryan/blob/main/first_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# hy this
"""this is my pc
hello this
helpp"""
a=10
print(a)

a="first name"
print(a)
a=12.3
b=2.4
c=a+b
print(c)

10
first name
14.700000000000001

In [ ]:
first_number=10
second_number=20
addition=first_number+second_number
print(f"sum of {first_number} and {second_number} is: {addition} ")

sum of 10 and 20 is: 30

In [ ]:

name = input("Enter your name: ")
age = input("Enter your age: ")
gender = input("Enter your gender: ")
email = input("Enter your email: ")
phone = input("Enter your phone number: ")
father_name =input("Enter father name:")
print("************* Bio Data *****************")
print(f"Name: {name}")
print(f"Age: {age}")
print(f"Gender: {gender}")
print(f"Email: {email}")
print(f"Phone: {phone}")
print(f"fathername: {father_name}")

Enter your name: aryan
Enter your age: 22
Enter your gender: male
Enter your email: aryanihhh
Enter your phone number: 7897482
Enter father name:ajay
************* Bio Data *****************
Name: aryan
Age: 22
Gender: male
Email: aryanihhh
Phone: 7897482
fathername: ajay

In [ ]:
Item1=input("enter the name of item:")
Item2=input("enter the name of item:")
Item3=input("enter the name of item:")
Item4=input("enter the name of itme:")
Item1price=int(input("enter the price:"))
Item2price=int(input("enter the price:"))
Item3price=int(input("enter the price:"))
Item4price=int(input("enter the price:"))
DiscountinItem1=int(input("enter the discount in item1:"))
DiscountinItem2=int(input("enter the discount in item2:"))
DiscountinItem3=int(input("enter the discount in item3:"))
DiscountinItem4=int(input("enter the discount in item4:"))
print(Item1,Item1price,DiscountinItem1)
print(Item2,Item2price,DiscountinItem2)
print(Item3,Item3price,DiscountinItem3)
print(Item4,Item4price,DiscountinItem4)
total=Item1price+Item2price+Item3price+Item4price
print(total)
totaldiscount=DiscountinItem1+DiscountinItem2+DiscountinItem3+DiscountinItem4
totalbilltopay=total-totaldiscount
print(f"totalbillwithdiscount:{totalbilltopay}")
discountinpercent1=Item1price*DiscountinItem1/100
discountinpercent2=Item2price*DiscountinItem2/100
discountinpercent3=Item3price*DiscountinItem3/100
discountinpercent4=Item4price*DiscountinItem4/100
print(discountinpercent1)
print(discountinpercent2)
print(discountinpercent3)
print(discountinpercent4)
totalbillinpercent01=Item1price-discountinpercent1
totalbillinpercent02=Item1price-discountinpercent2
totalbillinpercent03=Item1price-discountinpercent3
totalbillinpercent04=Item1price-discountinpercent4
print(totalbillinpercent01)
print(totalbillinpercent02)
print(totalbillinpercent03)
print(totalbillinpercent04)

enter the name of item:pizza
enter the name of item:burger
enter the name of item:softdrink
enter the name of itme:springroll
enter the price:200
enter the price:180
enter the price:160
enter the price:100
enter the discount in item1:20
enter the discount in item2:18
enter the discount in item3:15
enter the discount in item4:12
pizza 200 20
burger 180 18
softdrink 160 15
springroll 100 12
640
totalbillwithdiscount:575
40.0
32.4
24.0
12.0
160.0
167.6
176.0
188.0

In [ ]:
principal=int(input("enter the principal in amount:"))
rate=int(input("enter the rate of interest:"))
month=int(input("enter the month:"))
days=int(input("enter the days:"))
time_in_year=(month/12)+(days/28)
simple_interest=(principal*rate*time_in_year)/100
print(simple_interest)

enter the principal in amount:1000
enter the rate of interest:5
enter the month:5
enter the days:10
38.69047619047619

In [ ]:
num = 20
if num%2==0:
  print("even")
else:
  print("odd")

even

In [ ]:
markes=int(input("enter the marks:"))
if markes >=90:
  grade="A+"
elif markes >=80:
    grade="B+"
elif markes >=75:
      grade="B"
elif markes >=65:
  grade="c"
elif markes >=55:
  grade="D"
else:
    grade=" F"
print(markes)
print(grade)

enter the marks:88
88
B+

In [ ]:
gender=input("enter the gender:")
age=int(input("enter the age:"))
if gender=="male":
  print("blockA")
  if age>=30:
    print("buldingA")
  else:
    print("buldingB")
else:
    print("blockB")
if gender=="female":
  print("blockB")
  if age>30:
    print("buldingA")
  else:
      print("buldingB")

enter the gender:female
enter the age:25
blockB
blockB
buldingB

In [4]:
n=int(input("enter a number:"))
first_num=0
second_num=1
print(first_num)
print(second_num)
for i in range(3,n+1):
  third_num=first_num+second_num
  first_num=second_num
  second_num=third_num
  print(third_num)

enter a number:5
0
1
1
2
3